<%if(locals.user){%>
    <div id="user-chat-box">
        <ul id="chat-messages-list">
            <li class="other-message">
                
            </li>
            <li class="self-message">
                
            </li>
        </ul>
        <div id="chat-input">
            <input type="text" id="message-input" placeholder="Message">
            <button id="send-button" type="submit">Send</button>
        </div>
    </div>
    
    
    <%}%>