<footer>
    <div>
        <h3 id="footer-heading">AK Networks</h3>
    </div>
    <div>
        <ul class="header-footer-ul">
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/user/profile">Profile</a>
            </li>
        </ul>
    </div>
</footer>


