<h1>codeeeeeeeee <%=title%></h1>
<section id="feed-posts">
    <h4>Posts</h4>
    <%if(locals.user){%>
    <form action="/post/create" id="new-post-form" method="post">
        <textarea name="content" cols="30" rows="3" placeholder="Type here"></textarea>
        <button type="submit">Post</button> 
    </form>
    <%}%>
    <div id="post-list">
        <ul>
            <%for(let i of posts){%>
                <p>
                    <li><%=i.content%></li>
                    <br>
                    
                    <small>
                        <%=i.user.name%>
                        <%= i.createdAt.toLocaleString('en-US', { weekday: 'short', month: 'short', day: 'numeric', hour: 'numeric', minute: 'numeric', hour12: true, timeZone: 'Asia/Kolkata' }) %>
                    </small>
                        
                </p>
                <%}%>
        </ul>
    </div>
</section>