<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title%></title>
</head>
<body>
    <h1>sign in</h1>
    <form action="/user/create-session" method="post">
        <input type="email" name="email" placeholder="@mail" required>
        <input type="password" name="password" placeholder="Password" required>
        <button type="submit">Sign In </button>
    </form>
</body>
</html>