#home-content{
    display: flex;
}
#feed-posts{
    width: 70%;
    height: 773px;
    overflow-y: auto;
    padding: 10px;
    background-image: url('../images/HD\ wallpaper_\ Purple\,\ nebula\,\ 4k\,\ 8k\,\ HD.jpeg');
    background-size: cover;
}   
#user-friends{
    width: 30%;
    padding: 10px;
    border-left: 2px solid rgb(190, 185, 185);
    background-image: url('../images/Free\ \ Art\,\ Romantic\,\ Star\ Background\ Images\,\ H5\ Beautiful\ Sky\ Background\ Photo\ Background\ PNG\ and\ Vectors.jpeg');
    
}
h3{
    margin-bottom: 30px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    letter-spacing: 0.8px;
    font-weight: bold;
    font-size: xx-large;
    color: rgb(245, 167, 99);

}
#user-friends a{
    text-decoration: none;
    color: rgb(254, 233, 255);
    font-weight:bolder;
    font-size: larger;
    text-shadow:1px 3px 8px rgb(168, 133, 238);
    border-bottom: 1.5px solid rgb(228, 131, 228);
    padding: 5px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.friend-name{
    display:block;
    transition: 0.3s ease-in-out;
    transform-origin:center left;
}
.friend-name:hover{
    transform: scale(1.5);
}
textarea{
    border-radius: 7px;
    background: linear-gradient(135deg,rgb(253, 208, 208),rgb(212, 212, 255));
    box-shadow: 0px 0px 10px 1px rgb(204, 143, 255);
    border: 1px solid rgb(242, 139, 173);
    outline: none;
    padding: 5px;
    resize: none;
    transition: 0.5s ease-in-out;
    font-size:large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#post-button{
    background-color:#5537ce;
    height: 37px;
    width: 80px;
    color: rgb(232, 229, 248);
    font-weight: bolder;
    letter-spacing: 0.5px;
    font-size: large;
    border-radius: 4px;
    outline: none;
    border: none;
    border: 2px solid rgb(236, 200, 236);
    margin-left: 30px;
}
textarea:hover{
    box-shadow: 0px 0px 15px 2px rgb(184, 100, 252);
}
textarea::placeholder{
    color: rgb(135, 133, 133);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#post-list ul{
    list-style-type:none;
}
.post-comment-list ul{
    margin-top: 5px;
    max-height: 140px;
    overflow-y: auto;
}
