#home-content{
    display: flex;
}
#feed-posts{
    width: 70%;
    padding: 10px;
}
#user-friends{
    width: 30%;
    padding: 10px;
    border-left: 2px solid rgb(190, 185, 185);
}
h3{
    margin-bottom: 30px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    letter-spacing: 0.5px;
    font-weight: bold;
    color: rgb(46, 3, 83);
}
#user-friends a{
    text-decoration: none;
    color: black;
    border-bottom: 1px solid purple;
    padding: 5px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.friend-name{
    display:block;
    transition: 0.3s ease-in-out;
    transform-origin:center left;
}
.friend-name:hover{
    transform: scale(1.5);
}
textarea{
    border-radius: 7px;
    background: linear-gradient(135deg,rgb(253, 208, 208),rgb(212, 212, 255));
    box-shadow: 0px 0px 10px 1px rgb(204, 143, 255);
    border: 1px solid rgb(242, 139, 173);
    outline: none;
    padding: 5px;
    resize: none;
    transition: 0.5s ease-in-out;
}
textarea:hover{
    box-shadow: 0px 0px 15px 2px rgb(184, 100, 252);
}
textarea::placeholder{
    color: rgb(135, 133, 133);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#post-list ul{
    list-style-type:none;
}
.post-comment-list ul{
    margin-top: 5px;
    max-height: 140px;
    overflow-y: auto;
}
