.fa-trash{
    color: rgb(104, 70, 182);
    margin-left: 105px;
    
}
.delete-comment-button i{
    color: rgb(68, 25, 169);
    margin-left: 15px;
    font-size: 13px;
}

.fa-comment{
    margin-left: -20px;
    color: rgb(229, 72, 72);
}
.post-content{
    color: white;
    padding: 8px;
    border-radius: 13px;
    border-bottom-left-radius: 0px;
    background: linear-gradient(45deg,rgb(233, 46, 46),rgb(244, 132, 34));
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
small{
    position: relative;
    top: 5px;
    font-family: cursive;
    text-shadow: 0px 0px 3px pink;
    color: rgb(202, 198, 240);
}