.fa-trash{
    color: rgb(104, 70, 182);
    margin-left: 25px;
}
.fa-beat-fade{
    margin-left: -24px;
    color: rgb(162, 61, 202);
}
.fa-comment{
    margin-left: -22px;
    color: rgb(150, 2, 2);
}