body{
    margin: 0%;
    background-image: url('../images/HD\ wallpaper_\ planet\,\ earth\,\ universe\,\ darkness\,\ space\ art\,\ sky\,\ night\,\ planet\ -\ space.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
}
.profile-box{
    display: flex;
    flex-direction: column;
    align-content: center;
    border: 1px solid whitesmoke;
}
img{
    border-radius: 50%;
    height: 200px;
    width: 200px;
}